<header id="header">
    <!--header-->
    <div class="header_top">
        <!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@domain.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a asp-controller="home" asp-action="index"><img src="~/images/home/logo.png" alt="" /></a>
                    </div>
                    <div class="btn-group pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                USA
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">UK</a></li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                                DOLLAR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Canadian Dollar</a></li>
                                <li><a href="#">Pound</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="pull-right" id="cart-container"><vc:cart/></div>
                                @*<a asp-controller="Cart" asp-action="Cart"><i class="fa fa-shopping-cart"></i> Корзина</a>*@
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Profile" asp-action="Index"><i class="fa fa-user"></i> Личный кабинет</a></li>
                            }
                            @if (User.IsInRole("Admins"))
                            {
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa fa-gear"></i> Админка</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div>
                    @await Component.InvokeAsync("LoginLogout")
                    @*<vc:login-logout></vc:login-logout>*@@*<=> LoginLogout*@
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a asp-controller="home" asp-action="index" class="@IsActive("Home", "Index")">Главная</a></li>
                            <li><a asp-controller="Catalog" asp-action="Shop" class="@IsActive("Catalog", "Shop")">Магазин</a></li>
                            <li class="dropdown">
                                <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a asp-controller="home" asp-action="CheckoutExample">CheckoutExample</a></li>
                                    <li><a asp-controller="home" asp-action="CartExample">CartExample</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a asp-controller="blogs" is-active-route ignore-action>Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a asp-controller="blogs" asp-action="Index">Blog List</a></li>
                                    <li><a asp-controller="blogs" asp-action="BlogSingle">Blog Single</a></li>
                                </ul>
                            </li>
                            <li><a asp-controller="home" asp-action="NotFound404">404</a></li>
                            <li><a asp-controller="home" asp-action="ContactUs" class="@IsActive("Home", "ContactUs")">Contact</a></li>
                            <li><a asp-controller="Employee" asp-action="Employees" class="@IsActive("Employee", "Employees")">Employees</a></li>
                            <li class="dropdown">
                                <a is-active-route ignore-action href="#">Тест<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a is-active-route asp-controller="AjaxTest" asp-action="Index">AJAX</a></li>
                                    <li><a asp-controller="WebAPITest" asp-action="Index" class="@IsActive("WebAPITest", "Index")">WebAPI</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header><!--/header-->


@functions{ //Раздел для методов, которые будут выполняться во время загрузки страницы

string IsActive(string controllerName, string actionName) //для подсветки активных ссылок
{
    if (Equals(controllerName, ViewContext.RouteData.Values["Controller"]) && Equals(actionName, ViewContext.RouteData.Values["Action"])) return "active";
    else return null;
}

}