@model BookViewModel

@{
    ViewData["Title"] = "О книге";
    Layout = null;
}

@Html.ActionLink("<<< Вернуться к списку книг", "Books")
<br>
<h3>Информация о книге</h3>
<br>
<table>
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Название</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Автор</td>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <td>Количество страниц</td>
        <td>@Model.PagesNumber</td>
    </tr>
    <tr>
        <td>Год выпуска</td>
        <td>@Model.Year</td>
    </tr>
</table>
<br>